<header id="navigation" class="navbar-fixed-top navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars fa-2x"></i>
			</button>

			<a class="navbar-brand" href="{{path('index')}}">
				<h1 id="logo">
					<p id="brand-name">IamSvn</p>
				</h1>
			</a>
		</div>
		<nav class="collapse navbar-collapse navbar-right" role="navigation">
			<ul id="nav" class="nav navbar-nav">
				<li class="current"><a href="#slider"><i class="fa fa-home fa-sm"></i> Accueil</a></li>
				<li><a href="#merci"><i class="fa fa-heart fa-sm"></i> Mercis</a></li>
				<li><a href="#galerie"><i class="fa fa-image fa-sm"></i> Galerie</a></li>
				<li><a href="#message"><i class="fa fa-comment fa-sm"></i> Messages</a></li>
			</ul>
		</nav>

	</div>
</header>
