<section id="message" class="contact">
	<div class="container">
		<div class="row mb50">

			<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
				<i class="fa fa-comment fa-5x title-img"></i>
				<h2>Messages</h2>
				<div class="devider"><i class="fa fa-chevron-down"></i></div>
			</div>

			<div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
				<p>Laissez moi un petit mots !</p><br/>
			</div>


			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms">
				<div class="contact-address">
					<h3 class="roboto"> Si vous avez des questions, vous pouvez également me contacter par <a href="mailto:iam7vn@gmail.com"> email.</a> </h3>
					
				</div>
			</div>

			<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
				<div class="contact-form">
				
					<form id="contact" action="" method="post">
				   {{ form_errors(form) }}
					<div class="input-field">
					   {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom', 'id': 'name'}}) }}
					</div>
					<div class="input-field">
					 {{ form_widget(form.email, {'attr': {'class': 'form-control', placeholder: 'Email', 'id': 'email'}}) }}
					</div>
					<div class="input-group">
					  {{ form_widget(form.content, {'attr': {'class': 'form-control', placeholder: 'Message', 'id': 'message'}}) }}
					</div>
					{{ form_rest(form) }}
					<div class="input-group">
						<input type="submit" id="form-submit" class="pull-right" value="Poster Message">
					</div>
				  </form>
				</div>
			</div>
		</div>
	</div>

	

</section>
