<section id="galerie" class="works clearfix">
			<div class="container">
	<div class="row">

		<div class="sec-title text-center">
			<i class="fa fa-image fa-5x title-img"></i>
				<h2>Galerie</h2>
			<div class="devider"><i class="fa fa-chevron-down"></i></div>
		</div>

		<div class="sec-sub-title text-center galerie">
			<p>Premières heures, premiers jours, premiers mois</p>
		</div>

		<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
			<ul class="text-center">
				<li><a href="javascript:;" data-filter="all" class="active filter">2017/2018</a></li>
				<li><a href="javascript:;" data-filter=".dec17" class="filter">Décembre 2017</a></li>
				<li><a href="javascript:;" data-filter=".jan18" class="filter">Janvier 2018</a></li>
				<li><a href="javascript:;" data-filter=".fev18" class="filter">Février 2018</a></li>
			</ul>
		</div>

	</div>
</div>

	<div class="project-wrapper">

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/01.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Enfin la !" href="assets/img/2017-2018/dec17/01.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Premières minutes</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/01.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="jan18" title="Quality time" href="assets/img/2017-2018/jan18/01.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Unies pour la vie</h4>
				<p>Janvier 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/01.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Rêveries" href="assets/img/2017-2018/fev18/01.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Doux moment</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/02.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Où suis-je ?" href="assets/img/2017-2018/dec17/02.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Dans les bras de mon Papa</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/03.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Bien se couvrir" href="assets/img/2017-2018/dec17/03.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Premiers jours</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/02.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="jan18" title="Quality time" href="assets/img/2017-2018/jan18/02.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Avec ma Maman</h4>
				<p>Janvier 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/02.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Sky is the limit" href="assets/img/2017-2018/fev18/02.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Regard au loin</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/04.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Un repos mérité" href="assets/img/2017-2018/dec17/04.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Première nuit</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/05.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Dans mes rêves" href="assets/img/2017-2018/dec17/05.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Première nuit</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/03.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="jan18" title="On n'est pas bien ?" href="assets/img/2017-2018/jan18/03.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Le ventre plein</h4>
				<p>Janvier 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/03.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Bébé fatal" href="assets/img/2017-2018/fev18/03.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Attention à vos coeurs</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/06.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Bien au chaud" href="assets/img/2017-2018/dec17/06.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Un nid de douceur</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/04.jpg" alt="Sévenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="No picture" href="assets/img/2017-2018/jan18/04.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Caprice de star ?</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

	
		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/04.jpg" alt="Sévenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Déja vu" href="assets/img/2017-2018/fev18/04.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>L'air de rien</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/06.jpg" alt="Svn">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Pandi panda" href="assets/img/2017-2018/jan18/06.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Chantal Goya ou Desiigner ?</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/07.jpg" alt="Svn">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Sourire" href="assets/img/2017-2018/dec17/07.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Joie de vivre</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

	</div>
</section>
			