<section id="galerie" class="works clearfix">
			<div class="container">
	<div class="row">

		<div class="sec-title text-center">
			<i class="fa fa-image fa-5x title-img"></i>
				<h2>Galerie</h2>
			<div class="devider"><i class="fa fa-chevron-down"></i></div>
		</div>

		<div class="sec-sub-title text-center galerie">
			<p>Premières heures, premiers jours, premiers mois</p>
		</div>

		<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
			<ul class="text-center">
				<li><a href="javascript:;" data-filter="all" class="active filter">2017/2018</a></li>
				<li><a href="javascript:;" data-filter=".dec17" class="filter">Décembre 2017</a></li>
				<li><a href="javascript:;" data-filter=".jan18" class="filter">Janvier 2018</a></li>
				<li><a href="javascript:;" data-filter=".fev18" class="filter">Février 2018</a></li>
			</ul>
		</div>

	</div>
</div>

	<div class="project-wrapper">

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/01.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Sevenne" href="assets/img/2017-2018/dec17/01.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Premières minutes</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/01.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="jan18" title="Titre pour image" href="assets/img/2017-2018/jan18/01.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Janvier 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/01.jpg" alt="Sevenne">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Danseuse" href="assets/img/2017-2018/fev18/01.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/02.jpg" alt="Sevenne dans les ras">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="avec papa" href="assets/img/2017-2018/dec17/02.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Dans les bras de Papa</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/03.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/dec17/03.jpg"><i class="fa fa-eye fa-lg"></i></a>D
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/02.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="jan18" title="Titre de l'image" href="assets/img/2017-2018/jan18/02.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Janvier 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/02.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Titre de l'image" href="assets/img/2017-2018/fev18/02.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/04.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/dec17/04.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/05.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/dec17/05.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/03.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="jan18" title="Titre de l'image" href="assets/img/2017-2018/jan18/03.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Janvier 2018</p>
			</figcaption>
		</figure>

		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/03.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Titre de l'image" href="assets/img/2017-2018/fev18/03.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/06.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/dec17/06.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/04.jpg" alt="Sound">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/jan18/04.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

	
		<figure class="mix work-item fev18">
			<img src="assets/img/2017-2018/fev18/04.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="fev18" title="Titre de l'image" href="assets/img/2017-2018/fev18/04.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Février 2018</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item jan18">
			<img src="assets/img/2017-2018/jan18/06.jpg" alt="Sound">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/jan18/06.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item dec17">
			<img src="assets/img/2017-2018/dec17/07.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="dec17" title="Titre de l'image" href="assets/img/2017-2018/dec17/07.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Décembre 2017</p>
			</figcaption>
		</figure>

	</div>
</section>
			