<section id="merci" class="team">
	<div class="container">
		<div class="row">

			<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
				<i class="fa fa-heart fa-5x title-img"></i>
				<h2>Mercis</h2>
				<div class="devider"><i class="fa fa-chevron-down"></i></div>
			</div>
			
			<div class="sec-sub-title  text-center wow fadeInRight animated" data-wow-duration="500ms">
				<p>A vous qui m'avez accueillis si chaleureusement, <br/> merci encore pour tous vos témoignages d'affection et d'encouragement pour mes parents. </p>
			</div>
			<br/>
			<!-- single member -->
			<figure class="team-member  text-center wow fadeInUp animated" data-wow-duration="500ms">
				<div class="member-thumb">
					<img src="assets/img/team/svn.jpg" alt="Team Member" id="img-over" class="img-responsive">
					
						<img src="assets/img/team/svn2.jpg" alt="Team Member" id="img-under" class="img-responsive">
					
				</div>
				
			</figure>
			<!-- end single member -->
			
		<div id="bio" class="sec-sub-title  text-center wow fadeInRight animated" data-wow-duration="500ms">
				
				<p>
					Petit à petit, je découvre le monde qui m'entoure et ses mystères. Mes parents ajouteront régulièrement des photos pour que nous partagions ensemble mes premiers pas dans cette grande aventure qu'est la vie. 
				</p><br/>
				<p>
				
					Si vous souhaitez me contacter, vous pouvez me laisser un message qui sera partagé avec tous les visiteurs du site ou alors m'envoyer un <a href="mailto:iam7vn@gmail.com">email  <i class="fa fa-envelope"></i></a>
					
					
				</p><br/>
				<p> Je vous dis à très vite</p><br/>
				<h1 id="signature" >Sévenne</h1>
			</div>

		</div>
	</div>
</section>
