<section id="about" class="team">
	<div class="container">
		<div class="row">

			<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
				<h2>A propos</h2>
				<div class="devider"><i class="fa fa-chevron-down"></i></div>
			</div>

			<div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
				<p>Quand j’étais gamin, mon père était passionné de photographie et développait lui-même ses photos, quelques années plus tard la pièce qui lui servait de chambre noire devient ma chambre à coucher. Mon rapport avec la photographie est-il lié avec cet événement du début de ma vie ?</p>
			</div>

			<!-- single member -->
			<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
				<div class="member-thumb">
					<img src="assets/img/team/adeola.jpg" alt="Team Member" class="img-responsive">
					<figcaption class="overlay">
						<h5>Ex facilis placerat vulputate </h5>
						<p>Eam tacimates philosophia ne Eos deleniti</p>
						<ul class="social-links text-center">
							<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
							<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
						</ul>
					</figcaption>
				</div>
				<h4>Photographe</h4>
				<span>abambe@hotmail.com</span>
			</figure>
			<!-- end single member -->

		<div id="bio" class="sec-sub-title wow fadeInRight animated" data-wow-duration="500ms">
				<p>
					Une trentaine d’années plus tard, je commence à m’intéresser à la photographie, à ce moment-là mon propre fils 	allait naître.
				</p><br/>
				<p>
					Autodidacte, je me forme à l’aide de sites internet et de magazines, j’apprends à utiliser un appareil photo numérique, à cette époque mon apprentissage était purement technique et théorique. Je m’exerce en photographiant des membres de ma famille, des amis rappeurs en studio, show cases et concert.  J’étais un passionné de Basket-ball, naturellement  je me suis rendu sur les Play-grounds  et développe une aptitude à capter le mouvement.
				</p><br/>
				<p>
					Les occasions de photographier sur scène, concerts, spectacles de danse et performances se multiplient. J’y trouve un engouement  particulier en  sublimant les corps révélés par le clair-obscur.
				</p><br/>
				<p>
					Au fil du temps, j’y consacre mon temps libre,  je réalise que ce médium que j’aborde d’une façon très spontanée et instinctive devient presqu’une nécessité pour moi, je ne peux m’en passer, je pratique  en exprimant ma sensibilité durant mes errances.
				</p><br/>
				<p>
					J’ai découvert aussi  que la photographie permettait de porter un regard singulier sur le monde et de raconter des histoires à travers l’image.
				</p><br/>
				<p>	
					Aujourd’hui, à 39 ans, je photographie l’Homme dans son quotidien et désire que la photo soit la porte donnant accès au monde tel que je le perçois.
				</p>
			</div>

		</div>
	</div>
</section>
