<section id="stories" class="works clearfix">
			<div class="container">
	<div class="row">

		<div class="sec-title text-center">
			<h2>Mémoire visuelle</h2>
			<div class="devider"><i class="fa fa-chevron-down"></i></div>
		</div>

		<div class="sec-sub-title text-center">
			<p>Lorem ipsum dolor sit amet, sea ei iuvaret maiorum neglegentur. Ex facilis placerat vulputate duo. Eam tacimates philosophia ne. Eos deleniti maluisset ex, usu etiam dicant repudiandae in.</p>
		</div>

		<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
			<ul class="text-center">
				<li><a href="javascript:;" data-filter="all" class="active filter">Tous</a></li>
				<li><a href="javascript:;" data-filter=".oshun" class="filter">OSHUN OMI ORISHA </a></li>
				<li><a href="javascript:;" data-filter=".deboule" class="filter">Déboulé </a></li>
				<li><a href="javascript:;" data-filter=".eau" class="filter">Jeux d'eau</a></li>
			</ul>
		</div>

	</div>
</div>

	<div class="project-wrapper">

		<figure class="mix work-item oshun">
			<img src="assets/img/stories/oshun/oshun1.jpg" alt="Oshun">
			<figcaption class="overlay">
				<a class="fancybox" rel="oshun" title="Titre de l'image" href="assets/img/stories/oshun/oshun1.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Oshun</p>
			</figcaption>
		</figure>

		<figure class="mix work-item oshun">
			<img src="assets/img/stories/oshun/oshun2.jpg" alt="Oshun">
			<figcaption class="overlay">
				<a class="fancybox" rel="oshun" title="Titre de l'image" href="assets/img/stories/oshun/oshun2.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Oshun</p>
			</figcaption>
		</figure>

		<figure class="mix work-item oshun">
			<img src="assets/img/stories/oshun/oshun3.jpg" alt="Oshun">
			<figcaption class="overlay">
				<a class="fancybox" rel="oshun" title="Titre de l'image" href="assets/img/stories/oshun/oshun3.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Oshun</p>
			</figcaption>
		</figure>

		<figure class="mix work-item oshun">
			<img src="assets/img/stories/oshun/oshun4.jpg" alt="Oshun">
			<figcaption class="overlay">
				<a class="fancybox" rel="oshun" title="Titre de l'image" href="assets/img/stories/oshun/oshun4.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Oshun</p>
			</figcaption>
		</figure>

		<figure class="mix work-item deboule">
			<img src="assets/img/stories/mas/mas1.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="deboule" title="Titre de l'image" href="assets/img/stories/mas/mas1.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Déboulé</p>
			</figcaption>
		</figure>

		<figure class="mix work-item deboule">
			<img src="assets/img/stories/mas/mas2.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="deboule" title="Titre de l'image" href="assets/img/stories/mas/mas2.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Déboulé</p>
			</figcaption>
		</figure>

		<figure class="mix work-item deboule">
			<img src="assets/img/stories/mas/mas3.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="deboule" title="Titre de l'image" href="assets/img/stories/mas/mas3.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Déboulé</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item deboule">
			<img src="assets/img/stories/mas/mas4.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="deboule" title="Titre de l'image" href="assets/img/stories/mas/mas4.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Déboulé</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item eau">
			<img src="assets/img/stories/o/water1.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="o" title="Titre de l'image" href="assets/img/stories/o/water1.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Jeux d'eau</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item eau">
			<img src="assets/img/stories/o/water2.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="o" title="Titre de l'image" href="assets/img/stories/o/water2.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Jeux d'eau</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item eau">
			<img src="assets/img/stories/o/water3.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="o" title="Titre de l'image" href="assets/img/stories/o/water3.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Jeux d'eau</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item eau">
			<img src="assets/img/stories/o/water4.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="o" title="Titre de l'image" href="assets/img/stories/o/water4.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Sea ei iuvaret maiorum neglegentur</h4>
				<p>Jeux d'eau</p>
			</figcaption>
		</figure>
	</div>
</section>
			