<section id="lifestyle" class="works clearfix">
			<div class="container">
	<div class="row">

		<div class="sec-title text-center">
				<h2>Lifestyle</h2>
			<div class="devider"><i class="fa fa-chevron-down"></i></div>
		</div>

		<div class="sec-sub-title text-center">
			<p>Texte de présentation de la thématique</p>
		</div>

		<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
			<ul class="text-center">
				<li><a href="javascript:;" data-filter="all" class="active filter">Tous</a></li>
				<li><a href="javascript:;" data-filter=".stage" class="filter">Sur scène</a></li>
				<li><a href="javascript:;" data-filter=".travel" class="filter">Evasion</a></li>
				<li><a href="javascript:;" data-filter=".legacy" class="filter">Héritage</a></li>
			</ul>
		</div>

	</div>
</div>

	<div class="project-wrapper">

		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/danse.jpg" alt="Danseuse">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Nom danseuse ou troupe" href="assets/img/lifestyle/stage/danse.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>

		<figure class="mix work-item travel">
			<img src="assets/img/lifestyle/travel/rope.jpg" alt="Corde">
			<figcaption class="overlay">
				<a class="fancybox" rel="travel" title="Titre pour image" href="assets/img/lifestyle/travel/rope.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Evasion</p>
			</figcaption>
		</figure>

		<figure class="mix work-item legacy">
			<img src="assets/img/lifestyle/legacy/danse.jpg" alt="Danseuse">
			<figcaption class="overlay">
				<a class="fancybox" rel="legacy" title="Danseuse" href="assets/img/lifestyle/legacy/danse.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Héritage</p>
			</figcaption>
		</figure>

		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/pianiste.jpg" alt="Pianiste">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Nom du pianiste" href="assets/img/lifestyle/stage/pianiste.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>

		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/danse2.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Titre de l'image" href="assets/img/lifestyle/stage/danse2.jpg"><i class="fa fa-eye fa-lg"></i></a>D
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>

		<figure class="mix work-item travel">
			<img src="assets/img/lifestyle/travel/sunny.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="travel" title="Titre de l'image" href="assets/img/lifestyle/travel/sunny.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Evasion</p>
			</figcaption>
		</figure>

		<figure class="mix work-item legacy">
			<img src="assets/img/lifestyle/legacy/mask.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="legacy" title="Titre de l'image" href="assets/img/lifestyle/legacy/mask.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Héritage</p>
			</figcaption>
		</figure>

		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/dj.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Titre de l'image" href="assets/img/lifestyle/stage/dj.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/guitariste.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Titre de l'image" href="assets/img/lifestyle/stage/guitariste.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>

		<figure class="mix work-item travel">
			<img src="assets/img/lifestyle/travel/sunnygirl.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="travel" title="Titre de l'image" href="assets/img/lifestyle/travel/sunnygirl.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Evasion</p>
			</figcaption>
		</figure>

		<figure class="mix work-item legacy">
			<img src="assets/img/lifestyle/legacy/mask2.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="legacy" title="Titre de l'image" href="assets/img/lifestyle/legacy/mask2.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Héritage</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/onyx.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Titre de l'image" href="assets/img/lifestyle/stage/onyx.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item stage">
			<img src="assets/img/lifestyle/stage/sound.jpg" alt="Sound">
			<figcaption class="overlay">
				<a class="fancybox" rel="stage" title="Titre de l'image" href="assets/img/lifestyle/stage/sound.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Sur scène</p>
			</figcaption>
		</figure>

		<figure class="mix work-item travel">
			<img src="assets/img/lifestyle/travel/walker.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="travel" title="Titre de l'image" href="assets/img/lifestyle/travel/walker.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Evasion</p>
			</figcaption>
		</figure>

		<figure class="mix work-item legacy">
			<img src="assets/img/lifestyle/legacy/mask3.jpg" alt="">
			<figcaption class="overlay">
				<a class="fancybox" rel="legacy" title="Titre de l'image" href="assets/img/lifestyle/legacy/mask3.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Héritage</p>
			</figcaption>
		</figure>
		
		<figure class="mix work-item travel">
			<img src="assets/img/lifestyle/travel/water.jpg" alt="Water">
			<figcaption class="overlay">
				<a class="fancybox" rel="travel" title="Titre de l'image" href="assets/img/lifestyle/travel/water.jpg"><i class="fa fa-eye fa-lg"></i></a>
				<h4>Texte de description conseillé</h4>
				<p>Evasion</p>
			</figcaption>
		</figure>

	</div>
</section>
			