<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}IamSvn{% endblock %}</title>
		<meta name="description" content="Private website" />
		<meta name="keywords" content="Private content" />
		<link rel="shortcut icon" href="favicon.png">
		<meta name="author" content="Lift" />
        <title></title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ include ('App/footer.html') }}
    </body>
</html>
